@mixin blockQuote() {
	color: $siteColor;
	@include tileBackground();

	/* figure caption color adjustment */
	figure {
		background-color: $siteBackground;
		color: $siteColor;
	  	padding: 50px 70px;
	  	margin: 10px;  
		/* figure caption color adjustment */
		
		figcaption {
			margin-top: 10px;
	 	 	color: $popColor;
		}
	}

	/*Mobile treatment */
	@media all and (max-width: $mobileMax) {
		> .Index-page-content {
			padding-top: 34px;
			padding-bottom: 0px;
		}

		.quote-block {
		    padding-right: 0px;
		    padding-left: 0px;
		    padding-bottom: 0px !important;
		  }


		figure { 
			padding-left: 1em;
		    padding-right: 1em;
		    margin-left: 0px;
		    margin-right: 0px;
		    margin-bottom: 0px;
		  }
	}
}