@mixin banner() {
	@include tileBackground();

  .Index-page-content {
/* add padding to match sketch */
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include popLine();

  .sqs-block-html {
    background-color: $siteBackground;
    margin: 0px -30px;
    padding: 30px 50px;
  }


  /*Mobile treatment */
  @media all and (max-width: $mobileMax) {
    > .Index-page-content {
      padding-top: 74px;
      padding-bottom: 0px;
    }

    .sqs-block .html-block {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }
  }

}


