/*****************************************************************************************************************/

/*********************************
*  MODULE carousel
*  
*  Carousel formatting Main
*********************************/

/*****************************************************************************************************************/


/* Format address (excerpt) on mobile due to compacted text */
@media all and (max-width: $mobileMax) {
  div.summary-item .summary-excerpt p {
    letter-spacing: 1px;
  }
}  


.sqs-gallery-design-carousel {
  .summary-heading {
     font-family: proxima-nova;  //change to proxima-nova:   font-weigth: 300;   font-size: 18px (mobile settings)
     font-weight: 300;
     font-size: 20px;
     color: $listingColor;
     letter-spacing: 3px;
     margin-bottom: 30px;
   }

  .sqs-gallery-controls {
    .next:before {
      font-size: 20px;
      width: 20px;
      height: 20px;
      line-height: 20px;
    }
    .previous:before {
      font-size: 20px;
      width: 20px;
      height: 20px;
      line-height: 20px;
    }
  }
  .sqs-gallery-meta-container {
    .summary-title {
    /* Format Title Font on carousel card */
      font-family: proxima-nova;
      font-weight: 300;
      font-size: 22px;
      color: $listingColor;
      letter-spacing: 2px;
      line-height: 24px;
      margin-bottom: 20px;
      text-transform: uppercase;}  
   .summary-excerpt p {
        margin-bottom: 0px;
        font-family: proxima-nova;
        font-weight: 300;
        font-size: 12px;
        color: #8A8B8C;
        letter-spacing: 2.18px;
        line-height: 15px;
        text-transform: uppercase;
      }
  }
}

/* add padding to make carousel images have white spacing */
.sqs-gallery-design-strip-slide {
    padding-right: 10px
}

a.BlogList-item-title {
font-family: proxima-nova;
font-weight: 400;
font-size: 17px;
color: $listingColor;
letter-spacing: 2px;
}

div.BlogList-item-excerpt {
font-family: proxima-nova;
font-size: 12px;
color: #8A8B8C;
letter-spacing: 2.18px;
line-height: 4px;
margin-top: 18px;  
}



