/*****************************************************************************************************************/

/*********************************
* MODULE contactPage
/*****************************************************************************************************************/

/********************************
* contact banner 
*********************************/

#contactbanner {
  @include banner();
}

/*********************************
* contact form styling
*********************************/

/* Remove box lables */
#contactform .form-wrapper .field-list {
  .title {
      font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial;
      font-size: 13px;
      font-weight: 500;
      color: $contactFormTitle;
      letter-spacing: 0;
  }
  .field  {
/* Compress input boxes height spacing */
    margin-top: 0px;
    margin-bottom: 15px;

    .caption {
/* Remove labels above name fields.   Will replace with placeholder text */
      font-size: 0px;
    }
  }
 .field-element {
/* Round corners of input fields */
    border-radius: 5px;
    background: $contactFormBackground;
    color: $contactFormColor;
    font-size: $contactFormSize;
    border: $contactFormBorder;
  }
}

/* contact form button styling */
#contactform input.button {
  border:2px solid $contactFormBorder;
  padding: 10px;
  min-width: 100px;
  transition: all .25s ease;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial;
  font-weight: 600;
  font-size: 12px;
  color: $contactFormColor;
  letter-spacing: 2.4px;
    &:hover{
      background: $contactButton-hov;
      border:2px solid $contactButton-hov;
      color: $contactButtonColor-hov;
    }
}
