/* Alternate block quote format */
.sqs-block-html blockquote {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial;
  font-weight: 200;
  font-size: 30px;
  color: $popColor;
  padding-left: 0px;
  letter-spacing: 0;
  border: 0px;
  line-height: 37px;
}

